<%= render 'layouts/sidebar' %>

<div class="col-md-10 col-lg-9">
  <div class="d-f-jc-sp">
    <h1>タグ一覧</h1>
    <%= render 'end_user/parks/search_form', parks: @q %>
  </div>
  <%= render 'end_user/parks/index', parks: @parks %>
</div>
