<div class="top">
  <div id="theTarget">
    <div class="image1"></div>
    <div class="image2"></div>
    <div class="image3"></div>
    <div class="image4"></div>
    <div class="image5"></div>
  </div>
  <h1 class="top-text">SEEK_PARK</h1>
  <p class="top-text-p">公園の魅力を共有するSNSサイト</p>
</div>

<div class='mx-auto mt-5'>

  <div class="btn-wrapper mx-auto mt-5">
    <% if end_user_signed_in? %>
    <div class="devise-item-guest m-3">
      <%= link_to destroy_end_user_session_path, method: :delete do %>
        <span>ログアウト</span>
      <% end %>
    </div>
    <% else %>
      <div class="devise-item-guest m-3">
        <%= link_to end_users_guest_sign_in_path, method: :post do %>
          <span>ゲストログイン</span>
        <% end %>
      </div>
      <div class="devise-item m-5">
        <%= link_to new_end_user_session_path do %>
          <span>ログイン</span>
        <% end %>
      </div>
      <div class="devise-item m-5">
        <%= link_to new_end_user_registration_path do %>
          <span>新規登録</span>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
