<h1>Admin::EndUsers#edit</h1>

<table class='table'>
  <tr>
    <th>
      <%= image_tag @end_user.get_profile_image(100,100) %>
    </th>
  </tr>
  <tr>
	<th>name</th>
	<th><%= @end_user.name %></th>
  </tr>
  <tr>
	<th>introduction</th>
	<th><%= @end_user.introduction %></th>
  </tr>
  <tr>
    <th></th>
    <th>
      <%= link_to "アカウント停止", admin_withdraw_path(id: @end_user.id), method: :patch, data: { confilm: "本当に停止しますか？" } %>
    </th>
  </tr>
</table>
