.a-information-box {
  padding: 0px 20px;
}
#a-f-img {
  width: 100%;
}
.info-menue {
  margin: 10px 0;
  padding: 10px;
  background-color: rgb(247, 249, 249);
  border-radius: 16px;
}
.info-item {
  border-top: 1px solid;
  border-color: rgb(207, 217, 222);
}
.frix-decoy {
  width: 100% !important;
}
