@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import 'park';
@import 'map';
@import 'user_form';
@import 'font';
@import 'header';
@import 'side_bar';

// 無限スクロールの為、'kaminari'のページ遷移ボタンを非表示にする
nav.pagination {
  display: none;
}
.scroll-list {
  padding: 0;
}
.card {
  background-color: transparent;
}
// ダークモード対応
@media (prefers-color-scheme: dark) {
  body {
    background-color: #000;
    color: #fff;
  }
  nav {
    background:rgba(0,0,0,0.9);
  }
}