nav {
    background:rgba(255,255,255,0.95);
}
.nav-container {
    height: 70px;
}

/* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
@media screen and (max-width:768px) {
  .logo {
    width: 128px;
    height: 40px;
  }
}
/* スマートフォンサイズ（425px）以下の際に適用される設定 */
@media screen and (max-width:425px) {
  .logo {
    width: 96px;
    height: 30px;
  }
}
