.search_container{
  box-sizing: border-box;
  position: relative;
  border: 1px solid #999;
  display: block;
  padding: 3px 10px;
  border-radius: 20px;
  height: 2.3em;
  width: 100%;
  overflow: hidden;
}
.park_search {
  margin: 0.8rem;
}
.search_container input[type="search"]{
  border: none;
  height: 2.0em;
  width: 80%;
}
.search_container input[type="search"]:focus {
  outline: 0;
}
.search_container button[type="submit"]{
  cursor: pointer;
  font-family: FontAwesome;
  font-size: 1.3em;
  border: none;
  background: none;
  color: #3879D9;
  position: absolute;
  width: 2.5em;
  height: 2.5em;
  right: 0;
  top: -10px;
  outline : none;
}
/* スマートフォンサイズ（425px）以下の際に適用される設定 */
@media screen and (max-width:425px) {
  .search_container{
    height: 2em;
    width: 160px;
  }
  .search_form_area::placeholder {
    font-size: 1.2rem;
  }
}
