.sidebox {
  position: sticky;
  top: 100px;
}
.side-menue {
  padding: 16px 0px;
}
.side-link {
  padding: 12px;
}
.side-item {
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #FFF;
  text-shadow:
	0 0 0.10em #2962FF,
	0 0 0.15em #2962FF,
	0 0 0.80em #2962FF,
	0 0 1.00em #2962FF;
}
/* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
@media screen and (max-width:768px) {
  .sidebar {
    display: none;
  }
}
