.prf-container {
  margin: 15px;
}
.user-info {
  // width: 50%;
}
.post-prf {
  padding: 2%;
  text-align: center;
}
.link-btn {
  padding: 5px 16px;
  color: rgb(15, 20, 25);
  font-weight: bold;
  border-color: rgb(207, 217, 222);
  border-style: solid;
  border-radius: 9999px;
}
.relationships {
  display: flex;
}
.following {
  margin-right: 25px;
}
.follow-list {
  padding: 12px 16px;
  border-color: rgb(207, 217, 222);
  border-style: solid;
  display: flex;
}
.icon-box {
  margin-right: 12px;
}

/* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
@media screen and (max-width:768px) {
  .user-info {
    width: 70%;
  }
  .prf-img {
    width: 80px;
    height: 80px;
  }
}
/* スマートフォンサイズ（425px）以下の際に適用される設定 */
@media screen and (max-width:425px) {
  .user-info {
    width: 100%;
  }
  .prf-img {
    width: 40px;
    height: 40px;
  }
}
