<%= render 'layouts/sidebar' %>

<div class="col-md-6 col-sm-10 mx-2 mx-sm-auto text-center rounded px-0 my-5 form-border">
  <div class="form-body p-4">
    <h1>投稿編集</h1>
    <div class="errors">
      <%= render "layouts/errors", obj: @park %>
    </div>
    <div>
      <%= render 'form', park: @park %>
    </div>
  </div>
</div>

<%= render 'layouts/admin_information', admin_informations: @admin_informations %>
