<h1>Parks#index</h1>

<%= search_form_for @q, url: parks_path do |f| %>
  <div class="input-group mb-3">
    <%= f.search_field :end_user_name_or_name_or_address_cont, placeholder: 'キーワード検索' %>
    <div class="input-group-append">
      <%= f.submit class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

<div>
  <%= render 'index', parks: @parks %>
</div>
