<div class="container">
  <div class="row">
    <div class="col-8 mt-3">
      <h1>みんなの投稿</h1>
    </div>
    <div class="col-4 mt-3">
      <%= render 'search_form', parks: @q %>
    </div>
  </div>
</div>
<div class="card-list-container">
  <%= render 'index', parks: @parks %>
</div>
